body {
  margin:0 auto;
  padding:0;}
#map {
  height:100%;
  width:100%; }

#controlbox{
  display:block;
  z-index:1000;
  position: fixed;
  transform: translateX(-100%) translateX(-10px);
  left: 75%;
  top: 60px;
  width:240px;
  height:125px;
  background-color:rgba(250,250,250,0.8);
  border-radius: 8px;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

/* Image sidebar */
#images{
  width: 100%;
  margin: 0 auto;
  max-height:60%;
  display: block;
  overflow-y: scroll;
  /*white-space: nowrap;*/
}

.visible-image{
  width:25%;
  /*height:15%;*/
  height:100px;
  border: 0.1em solid white;
  display:inline-block;
  background-repeat: no-repeat;
}

.visible-image:hover{
  cursor: pointer;
  border: 0.1em solid blue;
}

#image-popup-container{
  text-align:center;
}

#selected-image{
  max-height: 30vh;
}

#image-popup{
  height:40%;
  padding: 20px;
}

/* D3 Timeline */
.axis {
  font: 10px sans-serif;
}

.label {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

/* Box containing timeline */
#timeline-parent {
  position:fixed;
  left:300px;
  right: 25%;
  transform: translate(-280px);
  height:15%;
  top: 10px;
  z-index:100;
  background-color:rgba(250,250,250,0.9);
  border-radius:8px
}
